<div *ngIf="viewMode; else editable">
    <div *ngIf="currentToDo.id">
      <h4>Task</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentToDo.name }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentToDo.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentToDo.complete ? "Yes" : "No" }}
      </div>
  
      <a
        class="badge badge-warning"
        routerLink="/todos/{{ currentToDo.id }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentToDo">
      <br />
      <p>Please click on a Task...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentToDo.id" class="edit-form">
      <h4>Task</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentToDo.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentToDo.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentToDo.complete ? "Yes" : "No" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentToDo.complete"
        (click)="updateComplete(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentToDo.complete"
        class="badge badge-primary mr-2"
        (click)="updateComplete(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" >
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTodo()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentToDo.id">
      <br />
      <p>Cannot access this Task...</p>
    </div>
  </ng-template>


  <!-- off of del button: (click)="deleteToDo()" -->
