<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Task Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="todo.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="todo.description"
            name="description"
          />
        </div>

        <div class="form-group">
            <label for="priority">Priority?</label>
            <input
              class="form-control"
              id="priority"
              required
              [(ngModel)]="todo.priority"
              name="priority"
            />
          </div>

        <div class="form-group">
        <label for="complete">Complete?</label>
        <input
            class="form-control"
            id="complete"
            required
            [(ngModel)]="todo.complete"
            name="complete"
            />
        </div>
  
        <button (click)="saveTodo()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Task was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTodo()">Add</button>
      </div>
    </div>
  </div>
